html{
    scroll-behavior: smooth;
}

article{
    font-family: 'Kalam', cursive;
    font-weight: bold;
    font-size: large;
}

article div {
    cursor: pointer;
}

.active {
    background-color: bisque;
    color: red;
    font-weight: 900;
    font-size: larger;
}

.hide {
    display: none;
}

main {
    background-image: linear-gradient(green, yellow);
}

.listen{
    font-family: 'Kalam', cursive;
    font-size: larger;
    font-weight: bold;
    margin-top: 10px;  
}

.listen:hover {
    color: coral;
}

.listenagain{
    font-family: 'Kalam', cursive;
    font-size: larger;
    font-weight: bold;
    margin-top: 10px;  
}

.listenagain:hover {
    color: coral;
}

#myBtn {
    font-family: 'Kalam', cursive;
    font-weight: bold;
    font-size: larger;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: coral; /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    opacity: 0.3;
  }
  
  #myBtn:hover {
     /* Set a background color */
    opacity: 1;
  }